.dualpanel {
  /* width: 30vw; */
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
}

.buttons {
  margin-right: 10px;
  background: #e1e4ea;
  border: none;
  border-radius: 15%;
  width: 5em;
  outline: none;
  cursor: pointer;
  font-size: 1.15em;
}

.buttons:active {
  background-color: aliceblue;
  border: none;
}
.clicked {
  background-color: rgb(241, 248, 248);
}
